:root {
    --white: #FFF;
    --black: #000;
    --font-color-base: #666;
    --font-color-light: #999;
    --font-color-dark: #333;
    --background-light: #F4F9F9;
    --background-dark: #9ADCFF;
    --background: #ccedff;
    --accent: #81F5FF;
    --attention: #FFD1D1;
    --danger: red;
    --transparent: rgba(255, 255, 255, 0);
    --size-10: 0.625rem;
    --size-14: 0.875rem;
    --size-16: 1rem;
    --size-18: 1.125rem;
    --size-20: 1.250rem;
    --size-30: 1.875rem;
    --size-40: 2.50rem;
    --size-50: 3.125rem;
    --size-100: 6.25rem;
    --size-150: 9.375rem;
    --font-size-mini:1.5vw;
    --font-size-tiny: 2vw;
    --font-size-small: 4vw;
    --font-size-medium: 5vw;
    --font-size-large: 7vw;
    --font-size-huge: 9vw;
    --gradient: linear-gradient(to bottom right, #9ADCFF, #ccedff);
    }

    /* 
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Crete Round', serif;
    font-family: 'Spectral', serif;
     */
    
    body {
    margin: 0;
    padding: 0;
    font-weight: 500;
    letter-spacing: 0;
    font-family: 'Crete Round', serif;
    }
    
    *,
    ::after,
    ::before {
    box-sizing: border-box;
    }
    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    }
    .container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    }

    h1, h2, h3, h3, h5, h6 {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: var(--font-color-dark);
    }

    .button, .button2 {
        font-size: 20px;
        border: none;
        outline: none;
        background: var(--background-dark);
        color: #fff;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        padding: 10px 10px;
      }
      
      .button::before, .button2::before {
        position: absolute;
        content: "";
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        left: -2px;
        top: -2px;
        background: linear-gradient(
          124deg,
          #a1eeff,
          #1dafe8,
          #66f5ff,
          #5ca1fa,
          #2371b0,
          #5b8ae2,
          #b862ff,
          #1dafe8,
          #a1eeff
        );
/*
          #a1eeff,
          #1dafe8,
          #1d35e8,
          #1611ae,
          #3c0781,
          #1611ae,
          #1d35e8,
          #1dafe8,
          #a1eeff
*/



        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        animation: move 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }
      
      .button:hover::before,       .button2:hover::before {
        opacity: 1;
      }
      
      .button::after, .button2::after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--background-dark);
        left: 0;
        top: 0;
        border-radius: 10px;
      }
      
      @keyframes move {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }

    .button2 {
        border-radius: var(--size-18);
        padding: 10px 20px;
        background-color: var(--background-light);
        box-shadow: 1px 1px 10px var(--font-color-light);
        font-family: 'Crete Round', serif;
        margin: 0px 10px;
    }

    hr {
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
    }

    